html {
  font-family: "Montserrat",sans-serif;
  background: linear-gradient(#ffffff, #9b9b9b);
}

body {
  margin: 0;
}

a:link {
  text-decoration: none;
}

nav {
  display: flex;

  border: 2px solid rgb(126, 125, 133);
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#nav-cart {
  position: relative;
  float: right;
}

.cart-icon {
}

.app {

}






.shopping-banner {
  display: flex;
  justify-content: space-between;
}

h2 {
  display: flex;
  position: relative;
}

.item-map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  gap: 10px;
}

.items-container {
  display: flex;
  text-align: center;
}

.item {
  padding: 20px;
  border: 1px solid rgb(97, 97, 100);
}

.cart-container {
  display: flex;
  justify-content: end;
}

.cart {
  display: flex;
  background-color: white;
  position: absolute;
  width: 10em;
  flex-direction: column;
  border: 2px solid black;
}






.shoppingPage {
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 15px;
  background-color: white;
}






.itemShoppingPage-container {
  border-radius: 15%;
  padding: 10px;
}

.itemShoppingPage {
  color: #111;

}

.itemShoppingPage .img-container {
  
}

.itemShoppingPage-img {
  width: 350px;
  height: auto;
  margin-top: -10%;
  margin-bottom: -10%;
}

.itemShoppingPage .info-container {
  line-height: 80%;
}

.itemShoppingPage .item-title {
  
}







.itemPage-container {
  height: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1000px;

  background-color: rgb(202, 202, 202);
}

.itemPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  align-items: center;
  text-align: center;

}

.itemPage .itemPage-info-container {
}

.itemPage .btn-container {
  display: flex;
  margin: 0 auto;
  margin-top: 10%;
  justify-content: center;
}

.itemPage .btn-counter {
  width: 12%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.itemPage .btn-submit {
  height: 100%;
  width: 50%;
  padding: 10px;
  border: none;
  outline: 0;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.itemPage .btn-submit:hover {
  opacity: 0.7;
}

.itemPage-img {
  width: 400px;
  height: auto;
}

.itemPage-item-price {
  font-size: 25px;
}

.itemPage .details-container {
  grid-area: 2 / span 2;
  align-self: flex-start;
  margin-top: 1rem;
  text-align: start;
}

.details-container .details-header {
  display: flex;
  padding: 0 1rem;

}

.details-container .details-desc {
  padding: 0 1rem;
}

.itemPage .related-products-container {
  grid-area: 3 / span 2;
  margin: 3rem 1rem 1rem 1rem;
  overflow: hidden;
  
}

.related-products-container .related-products-header {
  margin-bottom: 1rem;
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
}

.itemPage .related-products {
  display: flex;
  justify-content: center;
}

.related-products .product {
  margin: 0 1rem;
  color: #111;
}

.product img {
  width: 12rem;
}


.itemAdded-container {
  display: flex;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background-color: rgb(161, 232, 161);
}

.itemAdded-container .btn-container {
  display: flex;
}

.itemAdded-container .viewCart-btn {
  
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(255, 246, 246);
  transition: 0.3s;
}

.itemAdded-container .viewCart-btn:hover {
  background-color: rgb(214, 214, 214);
}

.itemAdded-container .dismiss-btn {
  border: none;
  background-color: transparent;
}






.checkout-cart-container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
}

.checkout-cart {

}

.checkout-cart table {
  width: 100%;
  border-collapse: collapse;
}

.checkout-cart thead {
  border-bottom: 2px solid rgba(140, 140, 140, 0.186);
}

.checkout-cart .cart-item {
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid rgba(140, 140, 140, 0.186);
}

.checkout-cart .cart-item img {
  width: 150px;
}

.checkout-cart .checkout-total {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 2.5rem auto auto;
  align-items: center;
  line-height: .50;
  border: 2px solid rgba(140, 140, 140, 0.186);
}

.checkout-total h4 {
  display: flex;
  line-height: .50;
}

.checkout-cart .total-figure {
  display: flex;
  gap: 50px;
}

.checkout-cart hr {
  width: 90%;
  color: lightblue;
}

.checkout-cart button {
  display: block;
  color: white;
  background-color: rgb(45, 55, 72);
  font-size: 1rem;
  font-weight: 600;
  line-height: .75;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  transition: 0.3s;
}

.checkout-cart button:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}