html {
  background-color: rgb(153, 174, 204);
}

nav {
  display: flex;

  border: 2px solid rgb(126, 125, 133);
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#nav-cart {
  position: relative;
  float: right;
}





.shopping-banner {
  display: flex;
  justify-content: space-between;
}

h2 {
  display: flex;
  position: relative;
}

.item-map {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.items-container {
  display: flex;
  justify-content: center;
}

.item {
  padding: 20px;
  border: 1px solid rgb(97, 97, 100);
}

.cart-container {
  display: flex;
  justify-content: end;
}

.cart {
  display: flex;
  background-color: white;
  position: absolute;
  width: 10em;
  flex-direction: column;
  border: 2px solid black;
}




.itemPage-container {
  display: flex;
  background-color: darkgray;
}

.itemPage {
  display: grid;
  margin: 0 auto;
  text-align: center;

  background-color: rgb(202, 202, 202);
}

.itemPage-btn-container {
  margin: 0 auto;
}

.itemPage-btn-counter {
  width: 20%;
}

.itemPage-item-title {
}